{
	"env": {
		"browser": true,
		"jest": true
	},
	"extends": ["airbnb"],
	"parser": "babel-eslint",
  "plugins": ["better-styled-components", "react-hooks"],
	"rules": {
    "arrow-body-style": 0,
    "arrow-parens": 0,
    "better-styled-components/sort-declarations-alphabetically": 2,
    "comma-dangle": [2, "always-multiline"],
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/order": ["error", {"groups": ["builtin", "external", "parent", "sibling", "index"]}],
    "jsx-a11y/anchor-is-valid": [
      2,
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "hrefLeft",
          "hrefRight",
          "to"
        ],
        "aspects": [
          "noHref",
          "invalidHref",
          "preferButton"
        ]
      }
    ],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": [
          "label"
        ],
        "labelAttributes": [
          "htmlFor"
        ],
        "controlComponents": [
          "input"
        ]
      }
    ],
    "jsx-a11y/label-has-for": 0,
    "linebreak-style": 0,
    "max-len": ["error", {
      "code": 120,
      "comments": 120,
      "ignoreComments": false,
      "tabWidth": 2
    }],
    "no-confusing-arrow": 0,
    "no-shadow": 0,
    "no-underscore-dangle": ["error", { "allow": ["__typename"] }],
    "no-unused-expressions": 0,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/default-props-match-prop-types": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-curly-newline": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx"] }],
    "react/jsx-props-no-spreading": 0,
    "react/require-default-props": 0,
    "semi": [2, "never"]
  },
  "settings" : {
    "import/resolver": {
      "alias": [ // TODO: Unificar alias com o do arquivo "config-overrides.js"
        ["@assets", "./src/assets"],
        ["@enums", "./src/data/enums"],
        ["@hocs", "./src/hocs"],
        ["@helpers", "./src/helpers"],
        ["@atoms", "./src/components/atoms"],
        ["@molecules", "./src/components/molecules"],
        ["@organisms", "./src/components/organisms"],
        ["@pages", "./src/components/pages"],
        ["@public", "./public"],
        ["@store", "./src/store"],
        ["@service", "./src/services"],
        ["@templates", "./src/components/templates"],
        ["@theme", "./src/components/themes/default"]
      ]
    }
  }
}
